.git
.github
.env
.env.*
**/.env
**/.env.*

node_modules
dist
build
coverage
backend/vendor

backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/testing/*
backend/storage/framework/views/*
backend/bootstrap/cache/*.php

docs
reports
assets
*.log
Thumbs.db
.DS_Store
